.movies-list__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 100px;
  gap: 0.5em;
}

.movies-list__show-more {
  margin-top: 0.5em;
  text-align: center;
  font-style: italic;
}

.movie-item {
  display: flex;
  box-shadow: gray 0 0 3px 0px;
}

.movie-item__image {
  flex: 2;
}

.movie-item__description {
  flex: 3;
  align-self: center;
}

.movie-item__title {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.movie-item__year {
  text-align: center;
  font-style: italic;
}
